#navbar img{
	margin-left:-40px;
}


	  #clogo {
  position:absolute;
  margin-top:12%;
  z-index:1;
  left:0;
  margin-left:40%;
  width:100px;
	  }
#cli {
	position:absolute;
	opacity:0;
}
header a {
	text-decoration:none;
	color:white;
	
}

.wrapper {
	margin-top:-8%;
}

svg {
	position:absolute;
	opacity:0;
}

.sma {
	position:absolute;
	opacity:0;
}
#sp1 {
	background-image: url("images/sp1.png");
}

#sp2 {
	background-image: url("images/sp2.png");
}
.sprite {
  width: 350px;
  height: 362px;
  margin: 2% auto;
  
  animation: play 1.5s steps(8) infinite;
}

@keyframes play {
    100% { background-position: -2800px; }
}

#set1 img{
	width:350px;
}

#set1 {
	z-index:4;
}

#set2 img {
	width:350px;
}



body{
	padding:0%;
	margin:0 0;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}

h2{
	color:#d20000;
}
p{
	font-family: 'Open Sans', sans-serif;
	color: black;
}

header{
	height:350px;
	background-color:#d40000;
	color:white;
}

header ul{
	list-style: none;
	
	font-family: 'Open Sans', sans-serif;
}	

header ul li {
	font-size:70%;
	display: inline;
	margin-left:10px;
}

header img {
	width:75px;
	height:75px;
}

#navbar {
	display:flex;
	display: -webkit-flex;
	-webkit-justify-content:space-around;
	justify-content:space-around;
}


header h1{
	margin-top: 60px;
	line-height: 150%;
	font-size:200%;
	
}

header p{
	margin-top:-4%;
	color:black;
	font-size:80%;
}

#phonesection {
	height:400px;
}
.top {
	width:70%;
  position:absolute;
  z-index:3;
  margin-top:-10%;
  left:0;
  margin-left:14%;
 }
 
 .middle {
  opacity:0;	
  position:absolute;
  z-index:2;
  margin-top:-10%;
  left:0;
  margin-left:205%;
  }

.bottom {
 width:73%;
  position:absolute;
  z-index:1;
  margin-top:-10%;
  left:0;
  margin-left:14%;
  }
  
 
  
#prefooter {
	display:flex;
	display:-webkit-flex;
	justify-content:center;
	-webkit-justify-content:center;
}

#prefootph {
	width:80%;
	margin: auto auto;
}

#medialink img {
	width: 30px;
	margin-left:30px;
	margin-top:2%;
}

#legends img {
	width:35px;
}
 